# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=example.com

# The subdomain to serve from
SUBDOMAIN=n8n

# The above example serve n8n at: https://n8n.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Europe/Berlin

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=user@example.com

# Optional
# https://docs.n8n.io/hosting/configuration/configuration-examples/encryption-key/
# https://docs.n8n.io/hosting/configuration/environment-variables/deployment/
N8N_ENCRYPTION_KEY=9f3c8e7a4b2d6f1c5a0e9d8b7c6f2a1e4d5b8c9a0f7e6d3b2a1c4e5f8d9

# Optional
# https://docs.n8n.io/hosting/configuration/environment-variables/licenses/
N8N_LICENSE_ACTIVATION_KEY=''
